<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.jainbooks.ebook"
	android:versionCode="1"
	android:versionName="@string/version"
	android:installLocation="auto">
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>
	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:name="com.jainbooks.activitys.App"
		android:hardwareAccelerated="true">
		<activity
			android:name="com.jainbooks.activitys.DashboardActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.artifex.mupdfdemo.MuPDFActivity"
			android:theme="@style/AppBaseTheme"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/vnd.ms-xpsdocument"/>
				<data android:mimeType="application/xps"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/pdf"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/x-cbz"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.xps"/>
				<data android:host="*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.pdf"/>
				<data android:host="*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.cbz"/>
				<data android:host="*"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.artifex.mupdfdemo.OutlineActivity"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
			android:label="@string/outline_title">
		</activity>
		<activity
			android:name="com.artifex.mupdfdemo.PrintDialogActivity"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
			android:label="@string/print">
		</activity>
		<activity android:name="com.jainbooks.activitys.LoginActivity"></activity>
		<activity android:name="com.jainbooks.activitys.RegistrationActivity"></activity>
		<activity android:name="com.jainbooks.activitys.TASplashActivity"></activity>
		<activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>	
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.artifex.mupdfdemo.ChoosePDFActivity"></activity>
       
	</application>
</manifest> 
